@model Evenement


<div class="text-center">
    <h1>Details</h1>

    <p class="text-secondary">Nom :</p>
    <h5>@Model.Name</h5>

    <p class="text-secondary">Type d'activité'</p>
    <h5>@Model.TypeEvenement</h5>

    <p class="text-secondary">Description:</p>
    <h5>@Model.Descripton</h5>

    <p class="text-secondary">Date de Début:</p>
    <h5>@Model.DateDebut</h5>

    <p class="text-secondary">Date de Fin:</p>
    <h5>@Model.DateFin</h5>



</div>
